<header class="header">
  <p class="header-top-caption">License & Insured 24/7 Online Booking</p>
  <div class="header-wrap">
    <a href="/">
      <picture>
        <!-- PNG legacy support -->
        <source
          type="image/png"
          srcset="./image/logo-dark.png 1x, ./image/logo-dark-@2x.png 2x"
        />
        <!-- WEBP modern support -->
        <source
          type="image/webp"
          srcset="./image/logo-dark.webp 1x, ./image/logo-dark-@2x.webp 2x"
        />
        <img
          width="75"
          height="75"
          src="./image/logo-dark.png"
          alt="TL sport car shape"
        /> </picture
    ></a>
    <p class="header-title">The Locals Detailing</p>
    <div
      class="header-burger-icon"
      aria-label="Menu"
      role="button"
      aria-controls="navigation"
    >
      <div class="burger-box" data-menu-open>
        <div class="burger-inner is-top"></div>
        <div class="burger-inner is-mid"></div>
        <div class="burger-inner is-bottom"></div>
      </div>
    </div>
    <nav class="header-nav-menu" data-menu>
      <div class="header-nav-menu-inner">
        <a href="/">
          <picture>
            <!-- PNG legacy support -->
            <source
              type="image/png"
              srcset="./image/logo-light.png 1x, ./image/logo-light@2x.png 2x"
            />
            <!-- WEBP modern support -->
            <source
              type="image/webp"
              srcset="./image/logo-light.webp 1x, ./image/logo-light@2x.webp 2x"
            />
            <img
              width="75"
              height="75"
              src="./image/logo-light.png"
              alt="TL sport car shape"
            /> </picture
        ></a>
        <p class="header-title">The Locals Detailing</p>
        <div
          class="header-burger-icon"
          aria-label="Menu"
          role="button"
          aria-controls="navigation"
        >
          <div class="burger-box" data-menu-close>
            <div class="burger-inner is-top"></div>
            <div class="burger-inner is-mid"></div>
            <div class="burger-inner is-bottom"></div>
          </div>
        </div>
      </div>
      <p class="header-nav-menu-title">
        <span>The Locals Detailing</span> We’re currently serving Bucks &
        Montgomery counties in PA.
      </p>
      <div class="accordion-container">
        <div class="ac">
          <h2 class="ac-header">
            <button type="button" class="ac-trigger">Bucks County</button>
            <svg width="19" height="10">
              <use href="./image/icons.svg#icon-chewron"></use>
            </svg>
          </h2>
          <div class="ac-panel">
            <ul class="header-nav-list">
              <li class="header-nav-item">
                <a href="./about-me.html" class="header-nav-link"
                  >Chestnut Hill
                </a>
              </li>
              <li class="header-nav-item">
                <a href="./about-me.html" class="header-nav-link">Warrington</a>
              </li>
              <li class="header-nav-item">
                <a href="./about-me.html" class="header-nav-link">Eastwick</a>
              </li>
              <li class="header-nav-item">
                <a href="./about-me.html" class="header-nav-link">East Falls</a>
              </li>
              <li class="header-nav-item">
                <a href="./about-me.html" class="header-nav-link"
                  >University City</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="ac">
          <h2 class="ac-header">
            <button type="button" class="ac-trigger">Montgomery County</button>
            <svg width="19" height="10">
              <use href="./image/icons.svg#icon-chewron"></use>
            </svg>
          </h2>
          <div class="ac-panel">
            <ul class="header-nav-list">
              <li class="header-nav-item">
                <a href="./about-me.html" class="header-nav-link"
                  >Chestnut Hill
                </a>
              </li>
              <li class="header-nav-item">
                <a href="./about-me.html" class="header-nav-link">Warrington</a>
              </li>
              <li class="header-nav-item">
                <a href="./about-me.html" class="header-nav-link">Eastwick</a>
              </li>
              <li class="header-nav-item">
                <a href="./about-me.html" class="header-nav-link">East Falls</a>
              </li>
              <li class="header-nav-item">
                <a href="./about-me.html" class="header-nav-link"
                  >University City</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
