<section class="services">
  <div class="container">
    <h2 class="services-title">Our Services & Packages</h2>
    <p class="services-subtitle">
      Professional mobile detailing tailored to your car’s needs—inside and out.
    </p>
  </div>
  <ul class="services-list">
    <!-- Item 1 -->
    <li class="services-item">
      <div class="services-yellow-badge">MOST POPULAR</div>
      <!-- Image Carousel -->
      <article class="splide services-image-carousel" aria-label="Cars Images">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <picture class="services-slider-image">
                <source
                  type="image/webp"
                  media="(min-width: 320px)"
                  srcset="./image/car.webp 1x, ./image/car@2x.webp 2x"
                />
                <source
                  media="(min-width: 320px)"
                  type="image/jpg"
                  srcset="./images/car.jpg 1x, ./image/car@2x.jpg 2x"
                />
                <img
                  width="393"
                  height="200"
                  src="./image/car.jpg"
                  alt="green sport car"
                />
              </picture>
            </li>
            <li class="splide__slide">
              <picture class="services-slider-image">
                <source
                  type="image/webp"
                  media="(min-width: 320px)"
                  srcset="./image/car-2.webp 1x, ./image/car-2@2x.webp 2x"
                />
                <source
                  media="(min-width: 320px)"
                  type="image/jpg"
                  srcset="./images/car-2.jpg 1x, ./image/car-2@2x.jpg 2x"
                />
                <img
                  width="393"
                  height="200"
                  src="./image/car-2.jpg"
                  alt="green sport car"
                />
              </picture>
            </li>
            <li class="splide__slide">
              <picture class="services-slider-image">
                <source
                  type="image/webp"
                  media="(min-width: 320px)"
                  srcset="./image/car-3.webp 1x, ./image/car-3@2x.webp 2x"
                />
                <source
                  media="(min-width: 320px)"
                  type="image/jpg"
                  srcset="./images/car-3.jpg 1x, ./image/car-3@2x.jpg 2x"
                />
                <img
                  width="393"
                  height="200"
                  src="./image/car-3.jpg"
                  alt="green sport car"
                />
              </picture>
            </li>
          </ul>
        </div>
      </article>
      <!-- Image Carousel / -->
      <div class="container">
        <p class="services-item-title">
          <svg width="24" height="24">
            <use href="./image/icons.svg#icon-diamond"></use>
          </svg>
          Inside + Out Packages
        </p>
        <h3 class="services-item-list-title">Exterior</h3>
        <ul class="services-item-list">
          <li>Detailed Hand Wash & Foam Bath</li>
          <li>Bug Removal</li>
          <li>Ceramic Paint Protection</li>
          <li>Wheels & Rims Deep Cleaned</li>
          <li>Dressing Applied to Tires</li>
        </ul>
        <h3 class="services-item-list-title">Interior</h3>
        <ul class="services-item-list">
          <li>Detailed Vacuum</li>
          <li>Detailed Wipe Down</li>
          <li>Light Stain Removal</li>
          <li>Floor Mats Cleaned</li>
          <li>Windows Cleaned</li>
          <li>Door Jambs Cleaned</li>
          <li>Trunk Cleaned</li>
        </ul>
        <p class="services-item-price">Starting at<span>$250</span></p>
        <a href="#" class="button">Choose Package</a>
      </div>
    </li>
    <!-- Item 2 -->
    <li class="services-item">
      <!-- Image Carousel -->
      <article class="splide services-image-carousel" aria-label="Cars Images">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <picture class="services-slider-image">
                <source
                  type="image/webp"
                  media="(min-width: 320px)"
                  srcset="./image/car-2.webp 1x, ./image/car-2@2x.webp 2x"
                />
                <source
                  media="(min-width: 320px)"
                  type="image/jpg"
                  srcset="./images/car-2.jpg 1x, ./image/car-2@2x.jpg 2x"
                />
                <img
                  width="393"
                  height="200"
                  src="./image/car-2.jpg"
                  alt="green sport car"
                />
              </picture>
            </li>
            <li class="splide__slide">
              <picture class="services-slider-image">
                <source
                  type="image/webp"
                  media="(min-width: 320px)"
                  srcset="./image/car.webp 1x, ./image/car@2x.webp 2x"
                />
                <source
                  media="(min-width: 320px)"
                  type="image/jpg"
                  srcset="./images/car.jpg 1x, ./image/car@2x.jpg 2x"
                />
                <img
                  width="393"
                  height="200"
                  src="./image/car.jpg"
                  alt="green sport car"
                />
              </picture>
            </li>
            <li class="splide__slide">
              <picture class="services-slider-image">
                <source
                  type="image/webp"
                  media="(min-width: 320px)"
                  srcset="./image/car-3.webp 1x, ./image/car-3@2x.webp 2x"
                />
                <source
                  media="(min-width: 320px)"
                  type="image/jpg"
                  srcset="./images/car-3.jpg 1x, ./image/car-3@2x.jpg 2x"
                />
                <img
                  width="393"
                  height="200"
                  src="./image/car-3.jpg"
                  alt="green sport car"
                />
              </picture>
            </li>
          </ul>
        </div>
      </article>
      <!-- Image Carousel / -->
      <div class="container">
        <p class="services-item-title">
          <svg width="24" height="24">
            <use href="./image/icons.svg#icon-vacuum"></use>
          </svg>
          Interior Only Packages
        </p>
        <h3 class="services-item-list-title">Interior</h3>
        <ul class="services-item-list">
          <li>Detailed Vacuum</li>
          <li>Detailed Wipe Down</li>
          <li>Carpet Mats Shampoo</li>
          <li>Rubber Mats Shined</li>
          <li>Seats Shampoo</li>
          <li>Carpet Shampoo</li>
          <li>Light stain removal (if needed)</li>
          <li>Windows Cleaned</li>
          <li>Door Jambs Cleaned</li>
          <li>Trunk Cleaned</li>
        </ul>
        <p class="services-item-price">Starting at<span>$180</span></p>
        <a href="#" class="button">Choose Package</a>
      </div>
    </li>
    <!-- Item 3 -->
    <li class="services-item">
      <!-- Image Carousel -->
      <article class="splide services-image-carousel" aria-label="Cars Images">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <picture class="services-slider-image">
                <source
                  type="image/webp"
                  media="(min-width: 320px)"
                  srcset="./image/car-3.webp 1x, ./image/car-3@2x.webp 2x"
                />
                <source
                  media="(min-width: 320px)"
                  type="image/jpg"
                  srcset="./images/car-3.jpg 1x, ./image/car-3@2x.jpg 2x"
                />
                <img
                  width="393"
                  height="200"
                  src="./image/car-3.jpg"
                  alt="green sport car"
                />
              </picture>
            </li>
            <li class="splide__slide">
              <picture class="services-slider-image">
                <source
                  type="image/webp"
                  media="(min-width: 320px)"
                  srcset="./image/car.webp 1x, ./image/car@2x.webp 2x"
                />
                <source
                  media="(min-width: 320px)"
                  type="image/jpg"
                  srcset="./images/car.jpg 1x, ./image/car@2x.jpg 2x"
                />
                <img
                  width="393"
                  height="200"
                  src="./image/car.jpg"
                  alt="green sport car"
                />
              </picture>
            </li>
            <li class="splide__slide">
              <picture class="services-slider-image">
                <source
                  type="image/webp"
                  media="(min-width: 320px)"
                  srcset="./image/car-2.webp 1x, ./image/car-2@2x.webp 2x"
                />
                <source
                  media="(min-width: 320px)"
                  type="image/jpg"
                  srcset="./images/car-2.jpg 1x, ./image/car-2@2x.jpg 2x"
                />
                <img
                  width="393"
                  height="200"
                  src="./image/car-2.jpg"
                  alt="green sport car"
                />
              </picture>
            </li>
          </ul>
        </div>
      </article>
      <!-- Image Carousel / -->
      <div class="container">
        <p class="services-item-title">
          <svg width="24" height="24">
            <use href="./image/icons.svg#icon-wash"></use>
          </svg>
          Exterior Only Packages
        </p>
        <h3 class="services-item-list-title">Exterior</h3>
        <ul class="services-item-list">
          <li>Detailed Hand Wash & Foam Bath</li>
          <li>Bug Removal</li>
          <li>Premium Ceramic Paint Protection</li>
          <li>Wheels & Rims Deep Cleaned</li>
          <li>Dressing Applied to Tires</li>
        </ul>
        <p class="services-item-price">Starting at<span>$130</span></p>
        <a href="#" class="button">Choose Package</a>
      </div>
    </li>
  </ul>
</section>
