<section class="reviews">
  <div class="container">
    <ul class="rating-stars">
      <li>
        <svg width="16" height="16">
          <use href="./image/icons.svg#icon-star"></use>
        </svg>
      </li>
      <li>
        <svg width="16" height="16">
          <use href="./image/icons.svg#icon-star"></use>
        </svg>
      </li>
      <li>
        <svg width="16" height="16">
          <use href="./image/icons.svg#icon-star"></use>
        </svg>
      </li>
      <li>
        <svg width="16" height="16">
          <use href="./image/icons.svg#icon-star"></use>
        </svg>
      </li>
      <li>
        <svg width="16" height="16">
          <use href="./image/icons.svg#icon-star"></use>
        </svg>
      </li>
    </ul>
    <h2 class="reviews-title">Customers Love Us</h2>
    <p class="reviews-subtext">Real reviews from happy customers.</p>
    <div class="splide reviews-slider" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <ul class="rating-stars is-slide">
              <li>
                <svg width="16" height="16">
                  <use href="./image/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="./image/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="./image/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="./image/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="./image/icons.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="review-text">
              These guys are the real deal when it comes to anything related to
              car detailing. Excellent professional service, reasonably priced
              and amazing results. Their personal attention to detail and
              quality of work is outstanding!! Could not have been more pleased
              with their service, and the car looks and smells brand new! Thank
              you Jake and Team
            </p>
            <p class="reviews-author">- Suzan Kramer</p>
          </li>
          <li class="splide__slide">
            <ul class="rating-stars is-slide">
              <li>
                <svg width="16" height="16">
                  <use href="./image/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="./image/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="./image/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="./image/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="./image/icons.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="review-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
              perspiciatis placeat itaque est dignissimos! Quo facere unde vel
              consectetur sunt?
            </p>
            <p class="reviews-author">- Suzan Kramer</p>
          </li>
        </ul>
      </div>
      <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev">
          <svg width="9" height="9">
            <use href="./image/icons.svg#icon-chewron"></use>
          </svg>
        </button>
        <button class="splide__arrow splide__arrow--next">
          <svg width="9" height="9">
            <use href="./image/icons.svg#icon-chewron"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
