<section class="process">
  <div class="container">
    <h2 class="process-title">Our Mobile Detailing Simple 3 Step Process</h2>
  </div>
  <ul class="process-list">
    <li class="process-item">
      <div class="container">
        <svg width="100" height="100">
          <use href="./image/icons.svg#icon-phone-check"></use>
        </svg>
        <p>
          Book online or by phone and receive real-time updates on your
          appointment.
        </p>
      </div>
    </li>
    <li class="process-item">
      <div class="container">
        <svg width="100" height="100">
          <use href="./image/icons.svg#icon-wash-hand"></use>
        </svg>
        <p>
          Our experts arrive fully equipped to inspect and detail your vehicle
          using top-rated products and professional tools.
        </p>
      </div>
    </li>
    <li class="process-item">
      <div class="container">
        <svg width="100" height="100">
          <use href="./image/icons.svg#icon-satisfaction"></use>
        </svg>
        <p>We ensure your complete satisfaction before collecting payment.</p>
      </div>
    </li>
  </ul>
</section>
