<section class="hero">
  <div class="container">
    <picture class="hero-bg-image">
      <source
        type="image/webp"
        srcset="./image/hero-img.webp 1x, ./image/hero-img@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="./image/hero-img.png 1x, ./image/hero-img@2x.png 2x"
      />
      <img
        width="393"
        height="713"
        src="./image/hero-img.png"
        alt="workers wash car"
      />
    </picture>
    <div class="hero-content">
      <h1 class="hero-title">
        <span>We Come to You</span> Premium Detailing at Your Doorstep
      </h1>
      <div class="hero-rating">
        <ul class="rating-stars">
          <li>
            <svg width="16" height="16">
              <use href="./image/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li>
            <svg width="16" height="16">
              <use href="./image/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li>
            <svg width="16" height="16">
              <use href="./image/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li>
            <svg width="16" height="16">
              <use href="./image/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li>
            <svg width="16" height="16">
              <use href="./image/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="hero-rating-text">60+ - 5 star Reviews</p>
      </div>
      <a href="www.google.com" class="button">Schedule Your Appointment</a>
    </div>
    <ul class="hero-features">
      <li class="hero-futures-item">
        <svg width="27" height="24">
          <use href="./image/icons.svg#icon-check"></use>
        </svg>
        Auto Detailing
      </li>
      <li class="hero-futures-item">
        <svg width="27" height="24">
          <use href="./image/icons.svg#icon-check"></use>
        </svg>
        Ceramic coatings
      </li>
      <li class="hero-futures-item">
        <svg width="27" height="24">
          <use href="./image/icons.svg#icon-check"></use>
        </svg>
        Paint Correction
      </li>
    </ul>
  </div>
</section>
