<section class="features">
  <div class="container">
    <h2 class="visually-hidden">features services</h2>
  </div>
  <ul class="features-list">
    <li class="features-item">
      <picture class="features-item-bg-image">
        <source
          type="image/webp"
          srcset="
            ./image/detailing-car-bg.webp    1x,
            ./image/detailing-car-bg@2x.webp 2x
          "
        />
        <source
          type="image/jpg"
          srcset="
            ./image/detailing-car-bg.jpg    1x,
            ./image/detailing-car-bg@2x.jpg 2x
          "
        />
        <img
          width="393"
          height="347"
          src="./image/detailing-car-bg.jpg"
          alt="Lambordgini"
        />
      </picture>
      <div class="container is-index-2">
        <h3 class="features-item-title">Auto detailing</h3>
        <p class="features-item-text">
          Premium interior and exterior detailing
        </p>
        <p class="features-item-caption">PRICE VARIES</p>
        <a href="" class="button">Schedule Your Appointment</a>
      </div>
    </li>
    <li class="features-item">
      <picture class="features-item-bg-image">
        <source
          type="image/webp"
          srcset="
            ./image/coating-car-bg.webp    1x,
            ./image/coating-car-bg@2x.webp 2x
          "
        />
        <source
          type="image/jpg"
          srcset="
            ./image/coating-car-bg.jpg    1x,
            ./image/coating-car-bg@2x.jpg 2x
          "
        />
        <img
          width="393"
          height="347"
          src="./image/coating-car-bg.jpg"
          alt="VAN and car"
        />
      </picture>
      <div class="container is-index-2">
        <h3 class="features-item-title">CERAMIC COATING</h3>
        <p class="features-item-text">Expert ceramic coating application</p>
        <p class="features-item-caption">PRICE VARIES</p>
        <a href="#" class="button">Schedule Your Appointment</a>
      </div>
    </li>
    <li class="features-item">
      <picture class="features-item-bg-image">
        <source
          type="image/webp"
          srcset="./image/paint-car-bg.webp 1x, ./image/paint-car-bg@2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="./image/paint-car-bg.jpg 1x, ./image/paint-car-bg@2x.jpg 2x"
        />
        <img
          width="393"
          height="388"
          alt="Lambordgini"
          src="./image/paint-car-bg.jpg"
        />
      </picture>
      <div class="container is-index-2">
        <h3 class="features-item-title">Paint protection</h3>
        <p class="features-item-text">Professional paint correction services</p>
        <p class="features-item-caption">PRICE VARIES</p>
        <a href="#" class="button">Schedule Your Appointment</a>
      </div>
    </li>
  </ul>
</section>
