<section class="locals">
  <div class="container is-small">
    <h2 class="locals-title"><span>Why Choose</span> The Locals</h2>
    <p class="locals-subtitle">
      Your trusted, local mobile detailing experts—because no one cares for your
      car like a neighbor.
    </p>
    <ul class="locals-list">
      <li class="locals-item">
        <div class="locals-icon">
          <svg width="40" height="40">
            <use href="./image/icons.svg#icon-location"></use>
          </svg>
        </div>
        <h3 class="locals-item-title">Locally Owned & Operated</h3>
        <p class="locals-item-subtext">
          We’re proud to be part of the community, serving our neighbors with
          care.
        </p>
      </li>
      <li class="locals-item">
        <div class="locals-icon">
          <svg width="40" height="40">
            <use href="./image/icons.svg#icon-hand-check"></use>
          </svg>
        </div>
        <h3 class="locals-item-title">CONVENIENT MOBILE SERVICE</h3>
        <p class="locals-item-subtext">
          We come to you, saving you time while delivering top-notch detailing.
        </p>
      </li>
      <li class="locals-item">
        <div class="locals-icon">
          <svg width="40" height="40">
            <use href="./image/icons.svg#icon-shild"></use>
          </svg>
        </div>
        <h3 class="locals-item-title">DETAILING YOU CAN TRUST</h3>
        <p class="locals-item-subtext">
          Our team is committed to quality, reliability, and a spotless finish
          every time.
        </p>
      </li>
      <li class="locals-item">
        <div class="locals-icon">
          <svg width="40" height="40">
            <use href="./image/icons.svg#icon-smile"></use>
          </svg>
        </div>
        <h3 class="locals-item-title">CUSTOMER-CENTERED APPROACH</h3>
        <p class="locals-item-subtext">
          Your satisfaction is our top priority—because you’re not just a
          client, you’re our neighbor.
        </p>
      </li>
      <li class="locals-item">
        <div class="locals-icon">
          <svg width="40" height="40">
            <use href="./image/icons.svg#icon-leaves"></use>
          </svg>
        </div>
        <h3 class="locals-item-title">ECO-FRIENDLY PRODUCTS</h3>
        <p class="locals-item-subtext">
          We use environmentally safe products to protect both your car and the
          planet.
        </p>
      </li>
    </ul>
    <a href="#" class="button">Schedule Your Appointment</a>
    <div class="locals-line"></div>
  </div>
</section>
