/*** html & body ***/
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
  font-family: var(--font-family);
}
.no-scroll {
  overflow: hidden;
}

/*** Visually hide element, but keep visible for search engine ***/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*** Section global vertical padding ***/
.section {
  padding-top: 40px;
  padding-bottom: 40px;
  scroll-margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

/*** Buttons ***/
.button {
  display: inline-block;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #1e1e1e;
  background: #2dcbe0;
  padding: 18px 24px;
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 991px) {
  .button:hover,
  .button:focus-visible {
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  /* Hover/focus only for desktop */
  .button:hover,
  .button:focus-visible {
    transform: translateY(-2px);
    box-shadow: 2px 2px 24px rgba(45, 203, 224, 0.3);
  }
  .button:active {
    transform: translateY(0px);
    box-shadow: none;
  }
}

/*** Container ***/
.container {
  max-width: 345px;
  padding: 0 24px;
  margin: 0 auto;
  &.is-small {
    max-width: 301px;
    padding: 0 46px;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 1440px) {
}
