.services {
  padding: 72px 0 48px 0;
  color: white;
}
.services-title {
  font-size: 30px;
  text-align: center;
  color: #1e1e1e;
  margin-bottom: 12px;
}
.services-subtitle {
  font-size: 20px;
  text-align: center;
  color: #000;
  margin-bottom: 48px !important;
}
.services-list {
}
.services-item {
  position: relative;
  padding-bottom: 36px;
  background-color: var(--bg-dark-color);
  &:not(:last-child) {
    margin-bottom: 48px;
  }
}
.services-image-carousel {
  .splide__pagination {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
  }
  .splide__pagination__page {
    background: white;
    &.is-active {
      background: #fbd61e;
    }
  }
}
.services-yellow-badge {
  display: inline-block;
  padding: 10px;
  font-weight: 700;
  font-size: 14px;
  color: #1e1e1e;
  background-color: #fbd61e;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.services-slider-image {
  img {
    width: 100%;
  }
}
.services-item-title {
  margin: 24px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}
.services-item-list-title {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 6px;
}
.services-item-list {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.75;
  list-style-type: disc;
  padding-inline-start: 16px;
  margin-bottom: 18px;
}
.services-item-price {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 24px;
  span {
    margin-left: 6px;
    font-weight: 300;
  }
}
